<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加申请者</title>
    <link th:href="@{/css/manageadmin.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">添加申请者</a></li>
    </ul>
</div>

<div class="formbody">
    <div class="formtitle"><span>申请者信息</span></div>
    <form th:action="@{/applicant/add}" method="post">
        <ul class="forminfo">
            <li>
                <label>邮箱</label>
                <input name="applicantEmail" type="text" class="dfinput" placeholder="请输入邮箱" required />
            </li>
            <li>
                <label>密码</label>
                <input name="applicantPwd" type="password" class="dfinput" placeholder="请输入密码" required />
            </li>
            <li>
                <label>姓名</label>
                <input name="applicantName" type="text" class="dfinput" placeholder="请输入姓名" required />
            </li>
            <li>
                <label>&nbsp;</label>
                <input type="submit" class="btn" value="确认保存" />
            </li>
        </ul>
    </form>
</div>
</body>
</html>
