<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flypiggyyoyoyo.demo.mapper.TbCompanyMapper">

    <resultMap id="BaseResultMap" type="com.flypiggyyoyoyo.demo.model.TbCompany">
            <id property="companyId" column="COMPANY_ID" />
            <result property="companyName" column="COMPANY_NAME" />
            <result property="companyArea" column="COMPANY_AREA" />
            <result property="companySize" column="COMPANY_SIZE" />
            <result property="companyType" column="COMPANY_TYPE" />
            <result property="companyBrief" column="COMPANY_BRIEF" />
            <result property="companyState" column="COMPANY_STATE" />
            <result property="companySort" column="COMPANY_SORT" />
            <result property="companyViewnum" column="COMPANY_VIEWNUM" />
            <result property="companyPic" column="COMPANY_PIC" />
    </resultMap>

    <sql id="Base_Column_List">
        COMPANY_ID,COMPANY_NAME,COMPANY_AREA,COMPANY_SIZE,COMPANY_TYPE,COMPANY_BRIEF,
        COMPANY_STATE,COMPANY_SORT,COMPANY_VIEWNUM,COMPANY_PIC
    </sql>
</mapper>
