<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flypiggyyoyoyo.demo.mapper.TbJobapplyMapper">

    <resultMap id="BaseResultMap" type="com.flypiggyyoyoyo.demo.model.TbJobapply">
            <id property="applyId" column="APPLY_ID" />
            <result property="jobId" column="JOB_ID" />
            <result property="applicantId" column="APPLICANT_ID" />
            <result property="applyDate" column="APPLY_DATE" />
            <result property="applyState" column="APPLY_STATE" />
    </resultMap>

    <sql id="Base_Column_List">
        APPLY_ID,JOB_ID,APPLICANT_ID,APPLY_DATE,APPLY_STATE
    </sql>
</mapper>
